<h1 class="pb-2">Tweet後台</h1>
<div style="font-size: 18px;">
  <a href="/admin/tweets">Tweets</a><span> | </span><a href="/admin/users">Users</a>
</div>

<hr>
<div class="container row">
  <table class="table col-10">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Tweets</th>
        <th scope="col">Followers</th>
        <th scope="col">Followings</th>
      </tr>
    </thead>
    <tbody>
      {{#each Users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.TweetCount}}</td>
        <td>{{this.FollowerCount}}</td>
        <td>{{this.FollowingCount}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <table class="table col-2">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Likes</th>
      </tr>
    </thead>
    <tbody>
      {{#each forLike}}
      <tr>
        <td>{{this.totalLike}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>