<h1 class="pb-2">Tweet後台</h1>
<div style="font-size: 18px;">
  <a href="/admin/tweets">Tweets</a><span> | </span><a href="/admin/users">Users</a>
</div>

<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Tweets</th>
      <th scope="col">Likes</th>
      <th scope="col">Followers</th>
      <th scope="col">Followings</th>
    </tr>
  </thead>
  <tbody>
    {{#each Users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.TweetCount}}</td>
      <td></td>
      <td>{{this.FollowerCount}}</td>
      <td>{{this.FollowingCount}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>