<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <img src="{{user.avatar}}" style="width: 300px" alt="">
                <h2>{{user.name}}</h2>
                <p>{{user.introduction}}</p>
            </div>
            <div>
                <h6>Tweets: <span>{{tweetsAmount}}</span></h6>
                <h6>Following: <span>{{followersAmount}}</span></h6>
                <h6>Follower: <span>{{followingsAmonut}}</span></h6>
                <h6>Like: <span>{{likesAmount}}</span></h6>
            </div>
            {{#ifCond user.id tweetOwner.id}}
                <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit Profile</a>
            {{else}}
                <form action="/followships/{{tweetOwner.id}}" method="POST">
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
                <form action="/followships/{{tweetOwner.id}}" method="POST">
                    <button type="submit" class="btn btn-primary">Unfollow</button>
                </form>
            {{/ifCond}}
        </div>
        
        <div class="col-sm-8">
            <div class="row">
                <h2>Tweets</h2>
                <div class="card col-sm-12" style="width: 18rem;">
                    <div class="row">
                        <img src="{{tweet.User.avatar}}" class="card-img-top col-sm-4" alt="">
                        <div class="card-body">
                            <a href="/users/{{tweet.User.id}}/tweets">
                                <h5 class="card-title">@<span>{{tweet.User.name}}</span></h5>
                            </a>
                            <p class="card-text">{{tweet.description}}</p>
                            <a href="/tweets/{{tweet.id}}/replies" class="btn btn-primary">Reply ( {{repliesAmount}} )</a>
                            <form action="" method="POST">
                                <button type="submit" class="btn btn-danger">Like ( {{likesAmount}} )</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <h2>Replies</h2>
                {{#each replies}}
                <div class="card col-sm-12" style="width: 18rem;">
                    <div class="row">
                        <img src="{{this.User.avatar}}" class="card-img-top col-sm-4" alt="">
                        <div class="card-body">
                            <a href="/users/{{this.User.id}}/tweets">
                                <h5 class="card-title">
                                    @ {{this.User.name}}
                                    <span>{{this.User.createdAt}}</span>
                                </h5>
                            </a>
                            <p class="card-text" class="btn btn-primary">{{this.comment}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="card col-sm-12" style="width: 18rem;">
                    <form action="/tweets/{{tweet.id}}/replies" method="POST">
                        <textarea name="reply" id="reply" cols="60" rows="5"></textarea>
                        <button type="submit">Reply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>