<div class="container my-3">
  <div class="row col-12">
    <div class="col-8">
      <div class="col-12 my-2">
        <form action="/tweets" method="POST">
          <div class="form-group">
            <textarea class="form-control" id="description" name="description" rows="5"
              placeholder="What's on your mind"></textarea>
            <i class="fa fa-map-marker" aria-hidden="true" style="width:2%"></i>
            <input id="pac-input" class="controls mt-1" type="text" placeholder="加入地點..." style="width: 97%;">
            <input type="hidden" id="checkin_url" name="checkin_url" value="">
            <input type="hidden" id="checkin_name" name="checkin_name" value="">
          </div>
          <div style="text-align:right;">
            <button type="submit" class="btn btn-primary" style="width:100px">Tweet</button>
          </div>
        </form>
      </div>
      <div class="div mt-3">
        {{#each tweets}}
        <div class="card my-3">
          <div class="card-body row ">
            <div class="col-md-4">
              <img src="{{this.User.avatar}}" class="rounded" alt="大頭貼" width="180px" height="150px">
            </div>
            <div class="col-md-8">
              <div class="row">
                <a href="/users/{{this.User.id}}/tweets">
                  <h5>{{this.User.name}}</h5>
                </a>
                <h5>&nbsp&nbsp{{date this.createdAt}}</h5>
              </div>
              <p class="card-text">{{this.description}}</p>
              {{#if this.url}}
              <a href="{{this.url}}"><i class="fa fa-map-marker" aria-hidden="true"></i>{{this.place}}</a>
              {{/if}}
              <div class="row">
                <div tyle="float: left;">
                  <a href="/tweets/{{this.id}}/replies" class="btn btn-link">Reply({{this.reply}})</a>
                </div>
                <div tyle="float: left;">
                  {{#if this.isLiked}}
                  <form action="/tweets/{{this.id}}/unlike" method="POST">
                    <button type="submit" class="btn btn-link" style="color: red;">Unlike({{this.like}})</button>
                  </form>
                  {{else}}
                  <form action="/tweets/{{this.id}}/like" method="POST">
                    <button type="submit" class="btn btn-link">Like({{this.like}})</button>
                  </form>
                  {{/if}}
                </div>
              </div>
              <hr>
              {{!-- Hashtag --}}
              <div class="row">
                {{#each this.Hashtag}}
                <div class="mx-2" style="float: left;font-size:20px ">
                  <a href="/hashtags/{{this.id}}/tweets" style="background-color:white;color:black ">
                    <i class="fa fa-tag mx-1" aria-hidden="true"></i>{{this.name}}
                  </a>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-4">
      <h1>Popular</h1>
      {{#each users}}
      <div class="card mb-3">
        <div class="row ">
          <div class="col-md-4 ">
            <img src="{{this.avatar}}" class="card-img mt-2 ml-2" alt="大頭貼" width="100px" height="80px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="/users/{{this.id}}/tweets">
                <h5 class="card-title">@{{this.name}}</h5>
              </a>
              <p class="card-text">{{subString this.introduction}}</p>
            </div>
            {{#if this.isFollowed }}
            <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
              <div class="text-right  mb-2 mr-2">
                <button type="submit" class="btn btn-danger">Unfollow</button>
              </div>
            </form>
            {{else}}
            {{#ifNoCond this.id ../nowUser}}
            <form action="/followships" method="POST">
              <div class="text-right  mb-2 mr-2">
                <button type="submit " class="btn btn-primary">Follow</button>
              </div>
              <input type="hidden" name="id" value="{{this.id}}">
            </form>
            {{/ifNoCond}}
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script>
  function initAutocomplete() {
    var checkin_url = document.getElementById('checkin_url')  //這兩行用於填入名字跟網址
    var checkin_name = document.getElementById('checkin_name')
    var input = document.getElementById('pac-input');     //選取serchbox
    var searchBox = new google.maps.places.SearchBox(input);
    searchBox.addListener('places_changed', function () {         //監聽input有沒有改變
      var places = searchBox.getPlaces();   //獲取地點資訊
      if (places.length == 0) {             //若為空值return
        return;
      }

      places.forEach(function (place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
      });
      console.log(places)
      checkin_url.value = places[0].url
      checkin_name.value = places[0].name //將需要資訊帶入
    });
  }</script>
<script src="https://maps.googleapis.com/maps/api/js?key=[your key!]&libraries=places&callback=initAutocomplete" async
  defer></script>