<div class="container my-3 ">
  <div class="row">
    <div class="col-4">
      <div class="col-8 my-2">
        <img src="{{User.avatar}}" class="rounded" alt="大頭貼" width="200px" height="200px">
        <div class="my-3">
          <h2>{{User.name}}</h2>
          <p style="word-wrap: break-word;">{{User.introduction}}</p>
        </div>
        <div class="my-3">
          <a href="/users/{{User.id}}/tweets">
            <h3>Tweets：{{User.TweetCount}}</h3>
          </a>
          <a href="/users/{{User.id}}/followings">
            <h3>Following：{{User.FollowingCount}}</h3>
          </a>
          <a href="/users/{{User.id}}followers">
            <h3>Follower：{{User.FollowerCount}}</h3>
          </a>
          <a href="/users/{{User.id}}/likes">
            <h3>Like：{{User.LikeCount}}</h3>
          </a>
        </div>
        {{#ifCond User.id userInfo.id}}
        <div class="text-center">
          <a href="/users/{{User.id}}/edit" type="button" class="btn btn-primary">Edit Profile</a>
        </div>
        {{else}}
        {{#if User.isFollowing}}
        <form action="/followships/{{User.id}}?_method=DELETE" method="POST">
          <div class="text-center">
            <button type="submit" class="btn btn-danger">Unfollow</button>
          </div>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Follow</button>
          </div>
          <input type="hidden" name="id" value="{{User.id}}">
        </form>
        {{/if}}
        {{/ifCond}}
      </div>
    </div>

    <div class="col-8">
      {{#each Tweets}}
      <div class="card my-2">
        <div class="card-body row">
          {{!-- card左側 --}}
          <div class="col-4">
            <img src="{{../User.avatar}}" class="rounded" alt="大頭貼" width="180px" height="150px">
          </div>
          {{!-- card右側 --}}
          <div class="col-8">
            {{!-- 名稱＋時間 --}}
            <div class="row">
              <a href="/users/{{this.User.id}}/tweets">
                <h5>{{this.User.name}}</h5>
              </a>
              <h5>&nbsp&nbsp{{date this.createdAt}}</h5>
            </div>
            {{!-- 內容 --}}
            <p>
              {{this.description}}
            </p>
            <div class="row">
              {{!-- Reply --}}
              <div style="float: left;">
                <a href="/tweets/{{this.id}}/replies" class="btn btn-link">Reply({{this.ReplyCount}})</a>
              </div>
              {{!-- Like --}}
              <div style="float: left;">
                {{#if this.isLiked }}
                <form action="/tweets/{{this.id}}/unlike" method="POST">
                  <button type="submit" class="btn btn-link" style="color: red;">Unlike({{this.LikeCount}})</button>
                </form>
                {{else}}
                <form action="/tweets/{{this.id}}/like" method="POST">
                  <button type="submit" class="btn btn-link">Like({{this.LikeCount}})</button>
                </form>
                {{/if}}
              </div>
            </div>
            <hr>
            {{!-- Hashtag --}}
            <div class="row">
              {{#each this.Hashtag}}
              <div class="mx-2" style="float: left;font-size:20px ">
                <a href="/hashtags/{{this.id}}/tweets" style="background-color:white;color:black ">
                  <i class="fa fa-tag mx-1" aria-hidden="true"></i>{{this.name}}
                </a>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
