<div class="container my-3 ">
  <div class="row col-12">
    <div class="col-4">
      <div class="col-8 my-2">
        <img src="{{User.avatar}}" alt="大頭貼" width="200px" height="200px">
        <div class="my-3">
          <h3>{{User.name}}</h3>
          <p style="word-wrap: break-word;">{{User.introduction}}</p>
        </div>
        <div class="my-3">
          <h4>Tweets {{User.TweetCount}}</h4>
          <h4>Following {{User.FollowingCount}}</h4>
          <h4>Follower {{User.FollowerCount}}</h4>
          <h4>Like {{User.LikeCount}}</h4>
        </div>
        {{#ifCond User.id userInfo.id}}
        <div class="text-center">
          <a href="/users/{{User.id}}/edit" type="button" class="btn btn-primary">Edit Profile</a>
        </div>
        {{else}}
        {{#if User.isFollowing}}
        <form action="/followships/{{User.id}}?_method=DELETE" method="POST">
          <div class="text-center">
            <button type="submit" class="btn btn-danger">Unfollow</button>
          </div>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Follow</button>
          </div>
          <input type="hidden" name="id" value="{{User.id}}">
        </form>
        {{/if}}

        {{/ifCond}}
      </div>
    </div>

    <div class="col-8">
      {{#each Tweets}}
      <div class="card my-2">
        <div class="card-body row">
          {{!-- card左側 --}}
          <div class="col-4">
            <img src="{{../User.avatar}}" alt="大頭貼" width="180px" height="120px">
          </div>
          {{!-- card右側 --}}
          <div class="col-8">
            <a href="/users/{{this.User.id}}/tweets">
              <h5>{{this.User.name}}<span>,{{date this.createdAt}}</span></h5>
            </a>
            <p>
              {{this.description}}
            </p>
            <div class="row">
              <div style="float: left;">
                <a href="/tweets/{{this.id}}/replies" class="btn btn-link">Reply({{this.ReplyCount}})</a>
              </div>
              <div style="float: left;">
                {{#if this.isLiked }}
                <form action="/tweets/{{this.id}}/unlike?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-link" style="color: red;">Unlike({{this.LikeCount}})</button>
                </form>
                {{else}}
                <form action="/tweets/{{this.id}}/like" method="POST">
                  <button type="submit" class="btn btn-link">Like({{this.LikeCount}})</button>
                </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>